/* shared style */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

li {
    list-style: none;
}

.button {
    padding: 21px 40px;
    margin-top: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 48px;
    background: #FF42A5;

}

/* header section design */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px;
}

.nav-logo img {
    width: 80px;
    height: 40px;
}

.nav-logo h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.logo-color {
    color: #ff42A4;

}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1rem;
    font-weight: 500;
}

.nav-menu li>a {
    text-decoration: none;
    color: #3C354F;
}

.nav-icon {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px;
}

/* Menu */

/* banner section design */

.banner-section {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 600px;
}

.banner-details {
    background-image: url('../images/Group\ 14.png');
    background-size: 100% 600px;
    background-repeat: no-repeat;
    padding: 140px 120px;
    width: 50%;
}

.banner-details h3 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-details h1 {
    color: #c150d0;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-details ul {
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
}

.banner-images {
    width: 45%;
}

.banner-images img {
    width: 100%;
    height: 600px;
}

.btn2 {
    background: #4EC5F7;
}

/* online games */
.online-games {
    text-align: center;
}

.online-games-text {}

.online-games-text h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 100px;

}

.online-games-text p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.online-games-images {
    display: flex;
    gap: 10px;
    width: 80%;
    margin: 0 auto;

}

.box {
    width: 25%;
    box-shadow: 3px 5px 6px rgba(182, 175, 179, 0.847);
    border-radius: 15px;
}
.box img:hover{
    border-radius: 15px;
    border: 4px solid #ff42A4;
    /* box-shadow: 5px 5px 5px rgba(158, 12, 92, 0.847); */
}

.box img {
    width: 100%;
    height: 350px;
}

.box p {
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 5px;
}
.iconbox{
    position: relative;
}
.play-icon{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(253, 253, 253);
    font-size: 3rem;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    border-radius: 10px;
    transition: 0.6s;
}
.play-icon:hover{
    opacity: 1;
    cursor: pointer;
}

/* online play games */
.play-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 120px 0 50px;

}

.play-text {
    width: 40%;
    padding: 10px;
}

.play-text h1 {
    font-size: 3rem;
    font-weight: 700;
}

.play-text p {
    color: #534C64;
    font-size: 1rem;
    text-align: justify;
}

.play-img {
    width: 60%;


}

.img1 {
    margin-left: 120px;
}

.img1 img {
    width: 100%;
}

.img2 {
    width: 40%;
    position: relative;
    margin-top: -220px;
}

.img2 img {
    width: 100%;
}

/* games icon */
.icons-container{
    text-align: center;
    padding: 100px 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
/* .icons:nth-child(-n+5){
    grid-row: 1;
}
.icons:nth-child(n+6){
    grid-row: 2;
    margin: 0 auto;
} */
.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 40px;
    background-color: #fff;
    /* margin: 0 auto; */
}
.icons p{
    display: inline-block;
    color: #0B0223;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 10px;
}

.icons img {
    padding: 5px;
    width: 50px;
    height: 50px;
}

.icons:hover {
    cursor: pointer;
    border: 2px solid #ff42A4;
}

.icons h5:hover {
    color: #ff42A4;
}

/* footer container */
.footer-container {
    background: #0B0223;
    color: #fff;
    text-align: center;
    padding: 100px 300px;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 20px;
    gap: 30px;
    padding: 50px;
    font-size: 1rem;
    font-weight: 600;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.logof h1 {
    color: #fff;
}

.privacy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.7rem;
    font-weight: 500;
    margin: 20px 70px;

}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 500;
}

/* resposive website in mobile and css */

/* for mobile */
@media screen and (max-width:576px) {
    .navbar {

        flex-direction: column;
        padding: 50px 10px 0px;
    }

    .nav-menu {
        flex-direction: column;
        padding: 20px;
    }

    .banner-section {
        flex-direction: column;
        margin-bottom: 40px;

    }

    .banner-images {
        padding: 10px;
        width: 100%;
        height: 70%;
        margin-bottom: 20px;

    }

    .banner-images img {
        width: 100%;
        height: 80%;
    

    }

    .banner-details {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 25px;
        width: 100%;
        
    }

    .online-games {
        /* margin-top: 20px; */
        padding: 80px 20px;

    }

    .online-games-text h3 {
        
        font-size: 1.8rem;
        padding-bottom: 10px;
    }

    .online-games-text,  .play-text p {
        font-size: 0.8rem;
    }

    .online-games-images {
        flex-direction: column;
    }

    .online-games-images {
        display: flex;
        gap: 10px;
        width: 80%;
        margin: 0 auto;

    }

    .box {
        width: 90%;
    }

    .play-container {
        flex-direction: column;
        width: 80%;
        padding: 20px;

    }

    .play-text {
        width: 100%;
        padding: 20px;
    }

    .play-text h1 {
        padding-bottom: 10px;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }
   
    .play-img {
        width: 100%;
        /* height: 100%; */
    }
    
    .img1 {
        margin-left: 40px;
    }
    .img2 {
        margin-top: -120px;
    }
    .icons-container{
        padding: 50px 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 90%;
        margin: 0 auto;
    }
    .icons img {
        padding: 2px;
        width: 30px;
        height: 30px;
    }
    .icons p{
        font-size: 0.5rem;
    }
    .footer-container {
        padding: 60px 30px;
    }

    .footer-menu {
        grid-template-columns: repeat(3, 1fr);
    }

    .privacy {
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* for tablet */
@media screen   and (min-width: 576px) and (max-width:970px) {
    .navbar {

        flex-direction: column;
        padding: 50px 10px 0px;
    }

    .nav-menu {
        flex-direction: column;
        padding: 20px;
    }
    .banner-section {
        flex-direction: column;

    }

    .banner-images {
        padding: 10px;
        width: 100%;
        height: 70%;
        margin-bottom: 20px;

    }

    .banner-images img {
        width: 90%;
        height: 80%;
        padding: 30px 60px;

    }

    .banner-details {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 65px;
        width: 100%;
    }
    
    .online-games {
        padding: 150px 20px;

    }

    .online-games-text h3 {
        font-size: 1.8rem;
        padding-bottom: 10px;
    }

    .online-games-text,  .play-text p {
        font-size: 0.8rem;
    }

    .online-games-images {
        flex-direction: column;
    }

    .online-games-images {
        display: flex;
        gap: 10px;
        width: 80%;
        margin: 0 auto;

    }

    .box {
        width: 90%;
    }
    .box img:hover{
        border-radius: 30px;
    }
    .box img{
        height: 50%;
    }

    .play-container {
        flex-direction: column;
        width: 80%;
        padding: 20px;

    }

    .play-text {
        width: 100%;
        padding: 20px;
    }

    .play-text h1 {
        padding-bottom: 10px;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }
   
    .play-img {
        width: 100%;
        /* height: 100%; */
    }
    
    .img1 {
        margin-left: 40px;
    }
    .img2 {
        margin-top: -120px;
    }
    .icons-container{
        padding: 100px 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    
    .footer-container {
        padding: 60px 30px;
    }

    .footer-menu {
        grid-template-columns: repeat(3, 1fr);
    }


}